<!DOCTYPE html>
 {% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

  <div class="main-nav navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'index' %}">
            <h1><span style="font-weight: bold">I</span>n-<span style="font-weight: bold">L</span>ancer </h1>
          </a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li
            {% if '/' == request.path %}
                    class="nav-item active mr-3"

            {% else %}
                    class="nav-item mr-3"
            {% endif %}
            ><a href="{% url 'index' %}">Home</a></li>
            <li class="scroll"><a href="#services">Service</a></li>
            <li
                    {% if 'about' in request.path %}
                    class="nav-item active mr-3"

            {% else %}
                    class="nav-item mr-3"
            {% endif %}

            ><a href="{% url 'about' %}">About Us</a></li>
              {% if user.is_authenticated %}
              <li
                      {% if 'dashboard' in request.path %}
                          class="nav-item active mr-3"
                      {% else %}
                          class="nav-item mr-3"
                      {% endif %}

              >
                    <a href="{% url 'student' %}" ></i> Welcome :<span style="color:black">{{ user.username }}</span></a>
                  <li>
                  <a href="javascript:{document.getElementById('logout').submit()}"
                     class="nav-link">
                      <i class="fas.fa-sign-out-alt"></i>Logout
                  </a>

                  <form action="{% url 'logout' %}" method="POST" id="logout">
                      {% csrf_token %}
                      <input type="hidden">
                  </form>


                  </li>
              </li>
                {% else %}
              <li
                  {% if 'register' in request.path %}
                      class ="nav-item active mr-3"
                  {% else %}
                      class="nav-item mr-3"
                  {% endif %}

              >
              <a class="nav-link" href="{% url 'register' %}">
                  <i class="fas fa-user-plus"></i>
                  Register
              </a>
              </li>

            <li
                    {% if 'login' in request.path %}
                        class="nav-item active mr-3"
                    {% else %}
                        class="nav-item mr-3"
                    {% endif %}

            ><a href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i> Login</a></li>
              {% endif %}


{% if user.is_authenticated %}
{% else %}
            <li class="scroll"><a href="#blog">Post Job</a></li>
{% endif %}
            <li class="scroll"><a href="#contact">Contact</a></li>

          </ul>
        </div>
      </div>
    </div><!--/#main-nav-->


</body>
</html>