{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Top Bar -->
{% comment %}
  <section id="top-bar" class="p-3">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
            <h4 style="color:#37a000;font-family:initial">Freelancer</h4>

        </div>
          <div class="col-md-2">
              <i class="fas fa-phone">
               9539247954
          </i>
          </div>

        <div class="col-md-2 icons" >
          <div class="social text-right">
            <a href="#">
              <i class="fa fa-twitter"></i>
            </a>
            <a href="#">
              <i class="fa fa-facebook"></i>
            </a>
            <a href="#">
              <i class="fa fa-linkedin"></i>
            </a>
            <a href="#">
              <i class="fa fa-instagram"></i>
            </a>
            <a href="#">
              <i class="fa fa-pinterest"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endcomment %}
 <header id="home">
    <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active" style="background-image:url('../static/img/slider/1.jpg'); height: 690px;">
          <div class="caption">
            <h1 class="animated fadeInLeftBig">Welcome to <span>Freelancer</span></h1>
            <p class="animated fadeInRightBig">Freelancer - Responsive Design - Retina Ready - Parallax</p>
            <a data-scroll class="btn btn-start animated fadeInUpBig" href="#services">Start now</a>
          </div>
        </div>
        <div class="item" style="background-image: url('../static/img/slider/2.jpg'); height: 690px;">
          <div class="caption">
            <h1 class="animated fadeInLeftBig">Say Hello to <span>Freelancer</span></h1>
            <p class="animated fadeInRightBig">In-Lancer ! Explore your ideas</p>
            <a data-scroll class="btn btn-start animated fadeInUpBig" href="#services">Start now</a>
          </div>
        </div>
        <div class="item" style="background-image: url('../static/img/slider/4.jpg'); height: 690px;">
          <div class="caption">
            <h1 class="animated fadeInLeftBig">We are <span>Creative</span></h1>
            <p class="animated fadeInRightBig">Hire Freelancers ! Make things happen</p>
            <a data-scroll class="btn btn-start animated fadeInUpBig" href="#services">Start now</a>
          </div>
        </div>
      </div>
      <a class="left-control" href="#home-slider" data-slide="prev"><i class="fa fa-angle-left"></i></a>
      <a class="right-control" href="#home-slider" data-slide="next"><i class="fa fa-angle-right"></i></a>

      <a id="tohash" href="#services"><i class="fa fa-angle-down"></i></a>

    </div><!--/#home-slider-->
 </header>
</body>
</html>