{% extends 'base.html' %}
{% block content %}
    {% include 'partials/_navbar.html' %}
<body>


<script>
    $(document).ready(function(){
    $("#student").click(function(){
        $("#form1").toggle();
        $("#form2").css("display","none");

    });
    $("#employee").click(function(){
        $("#form2").toggle();
        $("#form1").css("display","none");

    });

});
</script>
<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    {% include 'partials/_alerts.html' %}
                    <h2 class="title">Get Your free account</h2>
                    <div class="p-t-10">
                      <div class="row row-space">
                        <div class="col-2">
                        <button class="btn btn--radius-2 btn--blue" type="button" id="student">Register Here</button>
                      </div>
                      </div>
                    </div>
                    {% comment %}Alerts{% endcomment %}

                    <form {% url 'register' %} method="POST" id="form1">
                        {% csrf_token %}
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">first name</label>
                                    <input class="input--style-4" type="text" name="first_name" id="fname" required>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">last name</label>
                                    <input class="input--style-4" type="text" name="last_name" id="lname" required>
                                </div>
                            </div>
                        </div>

                        <div class="row row-space">
                        <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Email</label>
                                    <input class="input--style-4" type="email" name="email" id="email" required>
                                </div>

                        </div>
                            <div class="col-2">

                                 <div class="input-group">
                                    <label class="label">Username</label>
                                    <input class="input--style-4" type="text" name="username" id="username" required>
                                 </div>

                            </div>
                        </div>
                         <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Password</label>
                                    <input class="input--style-4" type="password" name="password" id="pass" required>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Conform Password</label>
                                    <input class="input--style-4" type="password" name="password2" id="cpass" required>
                                </div>
                            </div>
                        </div>
                         <div class="row row-space">
                            <label class="label">Select your role</label>
                            <div class="styled-select slate">
                                <select name="subject" tabindex="-1" class="select2-hidden-accessible" aria-hidden="true">
                                    <option disabled="disabled" selected="selected">select your Role</option>
                                    <option value="1">Student</option>
                                    <option value="2">Employee</option>
                                    <option value="3">Client</option>
                                </select>
                                <div class="select-dropdown"></div>
                            </div>
                        </div>
                        <div class="p-t-15">
                            <input type="submit" id="submit" class="btn btn-primary"  value="Register">
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </div>

{% comment %}<script>
    $(document).on('submit','#form1', function(e) {
        e.preventDefault();
        $.ajax({
            type:'POST',
            path:'/accounts/',
            data:{
                first_name:$('#fname').val(),
                last_name:$('#lname').val(),
                email:$('#email').val(),
                username: $('#username').val(),
                password: $('#pass').val(),
                password2:$('#cpass').val(),
                csrfmiddlewaretoken : $('input[name=csrfmiddlewaretoken]').val()
            },
            success:function () {
                window.location.href = "{% url 'dashboard' %}";

            }

        });

    });
</script>{% endcomment %}
    <footer id="footer">
     <div class="footer-top wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
      <div class="container text-center">
        <div class="social-icons">
          <ul>
            <li><a class="envelope" href="#"><i class="fa fa-envelope"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a class="tumblr" href="#"><i class="fa fa-tumblr-square"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</body>

{% endblock %}