/* Header*/
#header{
        width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 102px;
    background: black;
    color: #FF4;
    overflow: hidden;
}
h1{
    margin: 4px 64px 22px;
    font-weight: 300;
    font-size: 22px;
    color: #68C;
}
.module caption{
        margin: 0;
    padding: 16px;
    border-radius: 12px;
    font-weight: 400;
    font-size: 13px;
    text-align: left;
    background: black;
    color: #FF5;
}

#content-related{
    loat: right;
    width: 334px;
    position: relative;
    margin-right: -507px;
}
